limited access to an HTTP service

This specification defines that

> The OAuth 2.1 authorization framework enables a third-party application to obtain limited access to an HTTP service, either on behalf of a resource owner by orchestrating an approval interaction between the resource owner and an authorization service, or by allowing the third-party application to obtain access on its own behalf. 

in the same way as the specification for OAuth 2.0 did. Although it's only partially true these days as there are tons of examples where the oAuth clients work with non-HTTP-based applications, such as POP3, IMAP, SMTP, various proprietary protocols... this list goes on and on.

Below is an excerpt from [A Set of Simple Authentication and Security Layer (SASL) Mechanisms for OAuth (RFC 7628)](https://datatracker.ietf.org/doc/html/rfc7628#section-1) on the same

> The main use cases for OAuth 1.0a and OAuth 2.0 have so far focused
>    on an HTTP-based [[RFC7230](https://datatracker.ietf.org/doc/html/rfc7230)] environment only.  This document
>    integrates OAuth 1.0a and OAuth 2.0 into non-HTTP-based applications
>    using the integration into the Simple Authentication and Security
>    Layer (SASL) [[RFC4422](https://datatracker.ietf.org/doc/html/rfc4422)].  Hence, this document takes advantage of the
>    OAuth protocol and its deployment base to provide a way to use SASL
>    to gain access to resources when using non-HTTP-based protocols, such
>    as the Internet Message Access Protocol (IMAP) [[RFC3501](https://datatracker.ietf.org/doc/html/rfc3501)] and the
>    Simple Mail Transfer Protocol (SMTP) [[RFC5321](https://datatracker.ietf.org/doc/html/rfc5321)].  This document gives
>    examples of use in IMAP and SMTP.

I suggest replacing "an HTTP service" with a more generic "resource server" or "resource service".