Prohibit sending access token as URI query parameter?

RFC 6750 section 2.3 recommends against clients sending access tokens to resource servers as a URI query parameter.

Would it make sense to explicitly disallow this practice in OAuth 2.1 section 7.2?
(Currently as far as I can tell, OAuth 2.1 just doesn't define the query parameter approach)
