Clarify redirect URI comparison

From Brian Campbell:

> https://tools.ietf.org/html/draft-parecki-oauth-v2-1-01#section-3.1.2"   The authorization server MUST compare the two URIs using simple
>    string comparison as defined in [RFC3986], Section 6.2.1."There's absolutely no context here for understanding what two URIs are being compared. Mandating full redirect_uri comparison is maybe more appropriate in 4.1.1 with the redirect_uri parameter somewhere. And 3.1.2.3. and 3.1.2.2 needs some attention with respect to this too. 
> But also an exception (for the port part) to full redirect_uri comparison is needed for loopback redirect_uris on native clients as in https://tools.ietf.org/html/draft-parecki-oauth-v2-1-01#section-9.6.1 and https://tools.ietf.org/html/draft-parecki-oauth-v2-1-01#section-9.2 and https://tools.ietf.org/html/draft-parecki-oauth-v2-1-01#section-10.3.3 

https://mailarchive.ietf.org/arch/msg/oauth/5hCWu0tIRk11jnW6_M87Rx7S560/




Suggest removing the comparison -- that is a step in the protocol, but this section is describing what a redirection endpoint is.

The sentence about comparing the two is removed since it's not needed at this point